# --- Entorno de Python ---
venv/
.env
__pycache__/
*.py[cod]
*$py.class

# --- Bases de Datos (No subir la DB pesada) ---
**/chroma.sqlite3
data/vector_db/
*.db
README.mD
# --- Archivos de Salida de Procesamiento ---
data/extracted_content/
data/metadata/
data/processed_chunks/
mlruns/
.ipynb_checkpoints/

# --- Documentos Originales (Opcional, si son pesados) ---
raw_documents/*.pdf

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store